@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1280px;
  color: #333333;
  background-color: whitesmoke;
}

.header_box {
  display: flex;
  width: 1280px;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
}
.header_shop_name {
  margin-left: 1rem;
}
.tab {
  display: flex;
  width: 200px;
  flex-direction: row;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: black;
}
li a.current {
  background-color: whitesmoke;
  color: black;
}
li a:hover:not(.current) {
  background-color: black;
  color: white;
}
#head {
  position: sticky; 
  top: 0px;
}
.banner {
  display: flex;
  width: 1280px;
  height: 800px;
}
.image_size {
  width: 1280px;
  height: 700px;
  background-repeat: repeat;
  background-size: contain;
}
.div_about {
  position: relative;
  top: 500px;
  width: 1280px;
  height: 350px;
  background-color: whitesmoke;
  position: absolute;
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}
.article_image_size {
  display: block;
  width: 400px;
  height: 300px;
  border-radius: 5%;
}
.article_content {
  display: flex;
  flex-flow: column wrap;
  padding-left: 2rem;
  width: 500px;
  align-items: center;
}
.text_size {
  font-size: 30px;
  padding-bottom: 1rem;
}
.text {
  line-height: 200%;
}
.div_more {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  height: 300px;
  margin-top: 1rem;
}
.more_items {
  display: flex;
  width: 800px;
  flex-direction: row;
  justify-content: space-between;
}
.more_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.more_images {
  width: 64px;
  height: 64px;
}
.button {
  position: fixed;
  bottom:10px;
  right: 10px;
}
.button_size {
  width: 50px;
  height: 50px;
}
.box {
  width: 1280px;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin : 1rem;
}
.product_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 250px;
  padding: 10px;
  margin : 2px;
  border: 1px ridge black;
}
.card-img {
  width: 100%;
  margin-bottom: 1em;
}